@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alegreya+Sans&family=Anton&family=Cormorant+Upright:wght@700&family=Libre+Franklin&family=Montserrat&family=Mulish:wght@500&family=Noto+Sans+JP:wght@900&family=Passions+Conflict&family=Raleway:ital,wght@0,300;1,300&family=Ubuntu&display=swap');

body {
    background-image: url('./images/pexels-karolina-grabowska-4210864.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h1{
    font-family: 'Aboreto', cursive;
}
h4{
    font-family: 'Noto Sans JP', sans-serif;
}
p{
    font-family: 'Libre Franklin', sans-serif;
}